!!!
%html{:lang => "en"}
  %head
  :css
    .sub {
      margin: 0 auto;
      width: 50%;
    }
    #TitleCard {
        padding: 25px;
        text-align: center;
        color: black;
        background-color: lightgray;
        
    }

    #BoxShadow {
        border: 1px solid;
        padding: 0px;
        box-shadow: 5px 10px;
    }
    #bodytext {
        color: black;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    #teamdescriptions {
        position: relative;
        padding: 25px !important;

        margin-top: 0px !important;
        background: #eee;
        text-align: center;
        margin-bottom: 0 !important;
    }
    #whitedescriptions {
        position: relative;
        padding: 25px !important;

        margin-top: 0px !important;
        text-align: center;
        margin-bottom: 0 !important;
    }
    #coloredpictures {
        position: relative;
        margin-left: 0px !important;
        margin-right: 0px !important;

        text-align: center;
        background: #eee;
    }
  %body{:style => "background: white;"}
    .jumbotron
      %h1.text-center Contact Us
    .container-fluid
      %h2.text-center Home Office
      .sub
        = image_tag "carleton.jpg", class: "img-responsive"
      %h3.text-center Carleton Auditorium
      %p.text-center 1475 Union Rd, Gainesville, FL 32611
    #teamdescriptions.container-fluid
      %h2.text-center Other Methods
      %h4.text-center Email: foodbabyg5@gmail.com
      %h4.text-center Phone: 407-612-Baby

