%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: root_path} FoodBaby
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: root_path} 
          About
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: root_path} 
          Contact
          %span.sr-only (current)
      %li.nav-item
        - if current_user.present?
          = link_to "Sign Out", sign_out_path, method: :delete, class: "nav-link"
        - else
          %a.nav-link{href: sign_in_path} 
            Sign In
            %span.sr-only (current)
